*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

header {
    padding: 10px 0;
    background-color: #0bb4da;
    text-align: center;
}

.center {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    /*flex-wrap: wrap; /* Fala pro display Flex que quando for width: 100% é pra ele alinhar 
                      os items linha por linha, e não alinhar ao lado do outro. */
}

.logo{
    width: 50%;
    text-align: left;
}

.logo h2{
    color: #f7f2f2;
}

.logo a {
  color: white;
  text-decoration: none;
}

.form-busca{
    width: 50%;
    text-align: right; 
}

.form-busca form{
    display: inline-block;
    position: relative;
}

.form-busca i{
    position: absolute;
    right: 15px;
    top: 8px;
    color: white;
    font-size: 20px;
}

.form-busca input{
    height: 40px;
    border: 0;
    font-size: 18px;
    color: white;
    background-color: #008bb4;
    padding-left: 15px;
    border-radius: 10px;
}

/* PLACEHOLDER DO INPUT --------------------------------*/

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-size: 18px;
    opacity: 0.9; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }

  /* PLACEHOLDER DO INPUT --------------------------------*/


  section.noticia-destaque{
    padding: 40px 0;
  }

  section.noticia-destaque >.center{
    max-width: 800px;
    max-height: 400px;
  }

  .img-destaque{
    width: 100%;
    position: relative;
  }

  .img-destaque img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  .title-destaque-descricao{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 40px;
    max-width: 600px;
    color: white;
  }

  .title-destaque-descricao h2{
    font-size: 64px;
    margin: 20px 0;
    color: white;   
  }

  .title-destaque-descricao a{
    text-decoration: none;
  }

  .title-destaque-descricao p{
    font-weight: lighter;
    font-size: 18px;
    color: white;
  }

  .overlay-destaque{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
  }

  section.outras-noticias{
    height: 100%;
    background-color: #eaeaea;
    padding: 30px 20px;
    text-align: center;
  }

  section.outras-noticias h2{ /* Especifíca pra toda a SECTION */
    font-size: 54px;
  }

  .ultimas{
    width: 70%;
    height: 90%;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap; /* Fala pro display Flex que quando for width: 100% é pra ele alinhar 
                      os items linha por linha, e não alinhar ao lado do outro. */
  }

  .box-ultima-single{
    text-align: left;
    width: 48%;
    height: 100%;
    max-height: 700px;
    margin-bottom: 20px;
    margin-right: 2%;
    background-color: white;
    padding-bottom: 20px;
    border-radius: 10px;
  }

  .box-ultima-single img{
    width: 100%;
    max-height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
  }

.box-ultima-single h3{
  font-size: 16px;
  color: #33439b;
  margin: 20px 0;
}

.box-ultima-single h2{
  color: #303336;
  font-size: 28px !important; /* "!important" é um racker do CSS que está sobrepondo uma 
                                  específicação da "section.outras-noticias h2" */
}

.box-ultima-single p{
  color: #7b8591;
  font-size: 16px;
  margin: 20px 0;
}


.box-ultima-single a{
  display: block;
  width: 180px;
  height: 55px;
  border: 1px solid #ebebeb;
  text-decoration: none;
  color: #0aacdc;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 19px;
}


.conteudo-noticia-single{
  padding: 20px;
  
}

  .mais-lidas{
    width: 30%;
  }

  
  .mais-lidas-noticias{
    background-color: white;
  }


  .mais-lidas > h3{
    background-color: #3f51b5;
    color: white;
    text-align: center;
    padding: 10px 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }


  .mais-lidas-noticias-single {
    text-align: left;
    padding: 20px;
    display: flex;
    /*flex-wrap: wrap; /* Fala pro display Flex que quando for width: 100% é pra ele alinhar 
                      os items linha por linha, e não alinhar ao lado do outro. */
  }

  .mais-lidas-noticias-single img{
    width: 50%;
    max-height: 180px;
    
  }

  .mais-lidas-noticias-single .texto-mais-lido-single {
    width: 70%;
    padding: 0px 20px;
  }

  .mais-lidas-noticias-single h4{
    color: #40be65;
    letter-spacing: 3px;
    padding-top: 0;
    margin-top: 0;
  }

  .mais-lidas-noticias-single p{
    margin-top: 3px;
    color: #7b8591;
    font-size: 13px;
  }

  .texto-mais-lido-single a{
    margin-top: 10px;
    display: block;
    width: 100px;
    height: 28px;
    border: 1px solid #ebebeb;
    text-decoration: none;
    color: #0aacdc;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
  }

  /* --------------------  RODAPÉ -------------------------------------------------------------------------------   */

  footer{
    height: 70px;
    background-color: #0aacdc;
    text-align: center;
    line-height: 50px;
    color: white;
    padding: 10px 0;
  }

   /* --------------------  PAGINA SINGLE.html ----------------------------------------------------------   */

   section.noticia{
    padding: 20px 0;
    background-color: #eaeaea;
    
   }

   .noticia-single{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 70%;
    margin-right: 2%;
   }

   .noticia-single h2 {
    color: #303336;
    font-size: 42px;
    margin: 10px 0;
    font-weight: bold;
   }

   .noticia-single span{
    letter-spacing: 3.2px;
    text-transform: uppercase;
    font-size: 14px;
    color: #858585;
    font-weight: bold;
   }

   .noticia-single p{
    color: #7b8591;
    font-size: 15px;
    line-height: 26px;
   }

   .noticia-single h3 {
    color: #7b8591;
    font-size: 25px;
    margin: 10px 0;
   }

  /* --------------------  RESPONSIVO -------------------------------------------------------------------------------   */

  @media screen and (max-width:768px) {
   
    .center {
      display: flex;
      flex-wrap: wrap; /* Fala pro display Flex que quando for width: 100% é pra ele alinhar 
                        os items linha por linha, e não alinhar ao lado do outro. */
    }

    .noticia-single{
      width: 100%;
      margin-bottom: 20px;
    }

    .logo {
      text-align: center;
    }

    .logo, .form-busca {
      width: 100%;
    }
    
    .form-busca {
      text-align: center;
      margin-top: 10px;
      
    }

    .title-destaque-descricao h2{
      font-size: 34px;
      margin: 20px 0;
    }

    .mais-lidas, .ultimas {
      width: 100%;
      margin-bottom: 20px;
      flex-wrap: wrap;
    }


    .box-ultima-single {
      display: block; /* Colocar os item um embaixo do outro */
      width: 100%;
      height: 700px;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }


  @media screen and (max-width:418px) {
    .title-destaque-descricao h2{
      font-size: 24px;
      margin: 10px 0;
    }
  }

  @media screen and (max-width:385px) {
    .title-destaque-descricao h2{
      font-size: 20px;
      margin: 10px 0;
    }
  }