<%- include ('partials/header.html') %>  <!-- Comando EJS que permite você adicionar outros arquivos no site -->


<section class="outras-noticias">
    <div class="title-outras-noticia">
        <h2>Busca: </h2>
        <br>
        <div class="center">
            
            <div style="width: 100%;" class="mais-lidas">
                <h3>33 resultados</h3>

                <div class="mais-lidas-noticias">

                    <div class="mais-lidas-noticias-single">
                        <img src="/public/images/natureza_small.png"/>
                        <div class="texto-mais-lido-single">
                            <h4>Natureza</h4>
                            <p>Cientistas descobrem que o Ártico abrigou uma floresta há milhões de anos. </p>
                            <a href="/encarar-o-surf">Saiba Mais</a>
                        </div>
                    </div>

                    <div class="mais-lidas-noticias-single">
                        <img src="/public/images/natureza_small.png"/>
                        <div class="texto-mais-lido-single">
                            <h4>Natureza</h4>
                            <p>Cientistas descobrem que o Ártico abrigou uma floresta há milhões de anos. </p>
                            <a href="/encarar-o-surf">Saiba Mais</a>
                        </div>
                    </div>

                    <div class="mais-lidas-noticias-single">
                        <img src="/public/images/natureza_small.png"/>
                        <div class="texto-mais-lido-single">
                            <h4>Natureza</h4>
                            <p>Cientistas descobrem que o Ártico abrigou uma floresta há milhões de anos. </p>
                            <a href="/encarar-o-surf">Saiba Mais</a>
                        </div>
                    </div>

                    <div class="mais-lidas-noticias-single">
                        <img src="/public/images/natureza_small.png"/>
                        <div class="texto-mais-lido-single">
                            <h4>Natureza</h4>
                            <p>Cientistas descobrem que o Ártico abrigou uma floresta há milhões de anos. </p>
                            <a href="/encarar-o-surf">Saiba Mais</a>
                        </div>
                    </div>

                </div> <!-- mais-lidas-noticias -->
            </div>  <!-- mais-lidas --> 
        </div> <!-- center -->
    </div>  <!-- title-outras-noticia --> 
</section>

<%- include ('partials/footer.html') %>
</body>

</html>