        <%- include ('partials/header.html') %>  <!-- Comando EJS que permite você adicionar outros arquivos no site -->

            <section class="noticia-destaque">
                <div class="center">
                    <div class="img-destaque">

                        <a href="/encarar-o-surf"> <div class="overlay-destaque"></div> </a>

                        <div class="title-destaque-descricao">
                            <a href="<%= posts[0].slug %>"> <h2><%= posts[0].titulo %></h2> </a> 
                                <p><%- posts[0].descricaoCurta %>... </p>  <!-- "-" faz com que ele leia as tags HTML do campo "conteudo" --> 
                        </div>

                        <img src="<%= posts[0].imagem %>" />

                    </div> <!-- img-destaque -->
                </div> <!-- center -->
            </section> <!-- noticia-destaque -->

            <section class="outras-noticias">
                <div class="title-outras-noticia">
                    <h2>Últimas Notícias</h2>
                    <br>
                    <div class="center">
                        <div class="ultimas">

                            <% for(let i = 1; i < posts.length; i++) { %>
                                <div class="box-ultima-single">
                                    <img src="<%= posts[i].imagem %>"/>

                                    <div class="conteudo-noticia-single">
                                        <h3><%= posts[i].categoria %></h3>
                                        <h2><%= posts[i].titulo %></h2>
                                        <p><%- posts[i].descricaoCurta %>... </p>
                                        <a href="<%= posts[i].slug %>">Saiba Mais</a>
                                    </div>
                                </div>
                            <% } %>


                        </div>
                        <div class="mais-lidas">
                            <h3>Mais lidas</h3>
                            <div class="mais-lidas-noticias">

                                <% for(let i = 0; i < postsTop.length; i++) { %>
                                    <div class="mais-lidas-noticias-single">
                                        <img src="<%= postsTop[i].imagem %>"/>
                                        <div class="texto-mais-lido-single">
                                            <h4><%= postsTop[i].titulo %></h4>
                                            <p><%- postsTop[i].descricaoCurta %>... - <span style="font-size: 12px; font-weight: bold;"> (<%= postsTop[i].views %> views) </span> </p>
                                            <a href="<%= postsTop[i].slug %>">Saiba Mais</a>
                                        </div>
                                    </div>
                                <% } %>
                            

                            </div> <!-- mais-lidas-noticias -->
                        </div>  <!-- mais-lidas --> 
                    </div> <!-- center -->
                </div>  <!-- title-outras-noticia --> 
            </section>

        <%- include ('partials/footer.html') %>
    </body>

</html>