<%- include ('partials/header.html') %>  <!-- Cabeçalho - HEADER -->


<section class="noticia">
    <div class="center">

        <div class="noticia-single">
            
            <h2>Habilidades necessárias para ser um Programador</h2>

            <div class="autor-nome">
                <span>Pablo Belusso</span>
            </div>

            <p>
                <h3>  seguir, vamos ver quais são as principais habilidades que um programador precisa ter para aproveitar as 
                oportunidades que o mercado oferece. </h3>

                Vamos falar de habilidades técnicas, mas também de soft skills, 
                que são as competências comportamentais que podem diferenciar um profissional. 
                Confira:

                Conhecimento em linguagens como HTML, CSS e Javascript
                Conhecimento em linguagens é básico para quem quer ser programador. 
                As principais linguagens são HTML, CSS e JavaScript, que são usadas para desenvolver grande parte dos sites 
                que você acessa por aí:

                HTML é uma linguagem de marcação de hipertexto, que serve para definir o significado e a estrutura de uma página que serão decodificados pelos navegadores;
                CSS é uma linguagem de estilo, que é usada para definir a aparência das páginas;
                JavaScript é uma linguagem de programação, que serve para desenvolver aplicações web e mobile.
                Mas essas são apenas as linguagens básicas que todo programador deve saber. Quem quer se destacar precisa dominar outras linguagens mais modernas, que são tendência nas empresas, como Python ou Swift.

                <h3>Lógica de Programação</h3>
                Ainda entre as habilidades técnicas, uma pessoa programadora também deve dominar a lógica de programação. 
                Esse aprendizado deve vir antes das linguagens, já que elas podem ter diferentes códigos e sintaxes, 
                mas adotam uma lógica semelhante.

                <h3> Inglês </h3>
                Dominar o inglês é uma necessidade em diversas profissões. Para as pessoas programadoras, o idioma também é essencial 
                para pesquisar referências em inglês e participar de comunidades globais que trocam informações sobre diversas linguagens.
                Algumas linguagens, aliás, foram desenvolvidas com base nesse idioma. 
                O Python, por exemplo, é uma linguagem simples e fácil de aprender porque busca se aproximar da lógica da língua inglesa.
                Além disso, programadores podem compor times internacionais, muitas vezes em grandes empresas de tecnologia.
                Por isso, é importante saber se comunicar em inglês com fluência.

                <h3> Capacidade Analítica </h3>
                A capacidade analítica entra no campo das soft skills. Um programador precisa ter alta capacidade de análise do problema, 
                do contexto e das necessidades do usuário para desenvolver as melhores soluções.

                Esse profissional deve ser capaz de observar e esmiuçar uma situação para transformá-la em códigos e comandos. 
                É por meio dessa capacidade analítica que o programador consegue fazer os sistemas falarem a linguagem das máquinas.

                <h3> Saber se comunicar </h3>
                Muita gente acredita que as pessoas programadoras só se relacionam com a tela do computador em um dia de trabalho. 
                Porém, elas trabalham com pessoas — usuários, clientes, colegas, gestores.

                Por isso, todo programador deve saber se comunicar. Esse profissional precisa se expressar claramente, 
                saber ouvir, conversar com usuários para entender suas necessidades e colaborar com sua equipe 
                para otimizar o desenvolvimento. Em uma área com termos tão técnicos como a programação, saber se comunicar é um diferencial.

            </p>

        </div>

        <div class="mais-lidas">
            <h3>Mais lidas</h3>

            <div class="mais-lidas-noticias">

                <div class="mais-lidas-noticias-single">
                    <img src="/public/images/natureza_small.png"/>
                    <div class="texto-mais-lido-single">
                        <h4>Natureza</h4>
                        <p>Cientistas descobrem que o Ártico abrigou uma floresta há milhões de anos. </p>
                        <a href="/encarar-o-surf">Saiba Mais</a>
                    </div>
                </div>

                <div class="mais-lidas-noticias-single">
                    <img src="/public/images/natureza_small.png"/>
                    <div class="texto-mais-lido-single">
                        <h4>Natureza</h4>
                        <p>Cientistas descobrem que o Ártico abrigou uma floresta há milhões de anos. </p>
                        <a href="/encarar-o-surf">Saiba Mais</a>
                    </div>
                </div>

                <div class="mais-lidas-noticias-single">
                    <img src="/public/images/natureza_small.png"/>
                    <div class="texto-mais-lido-single">
                        <h4>Natureza</h4>
                        <p>Cientistas descobrem que o Ártico abrigou uma floresta há milhões de anos. </p>
                        <a href="/encarar-o-surf">Saiba Mais</a>
                    </div>
                </div>

                <div class="mais-lidas-noticias-single">
                    <img src="/public/images/natureza_small.png"/>
                    <div class="texto-mais-lido-single">
                        <h4>Natureza</h4>
                        <p>Cientistas descobrem que o Ártico abrigou uma floresta há milhões de anos. </p>
                        <a href="/encarar-o-surf">Saiba Mais</a>
                    </div>
                </div>

            </div> <!-- mais-lidas-noticias -->
        </div>  <!-- mais-lidas -->

    </div>
</section>

<%- include ('partials/footer.html') %>  <!-- Rodapé - FOOTER -->
</body>

</html>