<%- include ('partials/header.html') %>  <!-- Cabeçalho - HEADER -->


<section class="noticia">
    <div class="center">

        <div class="noticia-single">
            
            <h2><%= noticia.titulo %></h2>

            <div class="autor-nome">
                
                <span>Por <%= noticia.autor %></span>
            </div>
                <br>
                <div> <img style="max-width: 100%;" src="<%= noticia.imagem %>" /> </div>
                <br>
                <%- noticia.conteudo %>

        </div>

        <div class="mais-lidas">
            <h3>Mais lidas</h3>

            <div class="mais-lidas-noticias">

                <div class="mais-lidas-noticias-single">
                    <img src="/public/images/natureza_small.png"/>
                    <div class="texto-mais-lido-single">
                        <h4>Natureza</h4>
                        <p>Cientistas descobrem que o Ártico abrigou uma floresta há milhões de anos. </p>
                        <a href="/encarar-o-surf">Saiba Mais</a>
                    </div>
                </div>

                <div class="mais-lidas-noticias-single">
                    <img src="/public/images/natureza_small.png"/>
                    <div class="texto-mais-lido-single">
                        <h4>Natureza</h4>
                        <p>Cientistas descobrem que o Ártico abrigou uma floresta há milhões de anos. </p>
                        <a href="/encarar-o-surf">Saiba Mais</a>
                    </div>
                </div>

                <div class="mais-lidas-noticias-single">
                    <img src="/public/images/natureza_small.png"/>
                    <div class="texto-mais-lido-single">
                        <h4>Natureza</h4>
                        <p>Cientistas descobrem que o Ártico abrigou uma floresta há milhões de anos. </p>
                        <a href="/encarar-o-surf">Saiba Mais</a>
                    </div>
                </div>

                <div class="mais-lidas-noticias-single">
                    <img src="/public/images/natureza_small.png"/>
                    <div class="texto-mais-lido-single">
                        <h4>Natureza</h4>
                        <p>Cientistas descobrem que o Ártico abrigou uma floresta há milhões de anos. </p>
                        <a href="/encarar-o-surf">Saiba Mais</a>
                    </div>
                </div>

            </div> <!-- mais-lidas-noticias -->
        </div>  <!-- mais-lidas -->

    </div>
</section>

<%- include ('partials/footer.html') %>  <!-- Rodapé - FOOTER -->
</body>

</html>